* {
	 box-sizing: border-box;
}

#break-increment {
	grid-area: break-increment;
}

#break-decrement {
	grid-area: break-decrement;
}

#session-increment {
	grid-area: session-increment;
}

#session-decrement {
	grid-area: session-decrement;
}

#break-label {
	grid-area: break-label;
}

#session-label {
	grid-area: session-label;
}

#break-length {
	grid-area: break-length;
}

#session-length {
	grid-area: session-length;
}

#timer-label {
	grid-area: timer-label;
}

#time-left {
	grid-area: time-left;
	font-size: 8rem;
}

#start_stop {
	grid-area: start_stop;
}

#container button {
	height: 100%;
	width: 100%;
	padding: 0;
	font-weight: bold;
	font-size: 2rem;
	background-color: white;
	border-radius: 0px;
	border: 4px solid #111;
}

#container button:hover {
	color: white;
	background-color: #111;
}

#container button:focus {
	background-color: darkcyan;
	color: #111;
}

#container div {
	font-size: 3rem;
}


#container h3 {
	font-size: 2rem;
	padding: 0;
}

#reset {
	grid-area: reset;
}

#container * {
	padding: 0.5rem;
}

#container {
	color: #111;
	justify-items: center;
	align-items: center;
	font-family: sans-serif;
	display: grid;
	gap: 0.25rem;
	width: 800px;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 100px;
	grid-template-areas:
		"timer-label timer-label timer-label timer-label"
		"time-left time-left time-left time-left"
		"time-left time-left time-left time-left"
		"break-label break-decrement break-length break-increment"
		"session-label session-decrement session-length session-increment"
		"start_stop start_stop reset reset"
		"start_stop start_stop reset reset"
}
